.text-utilite, .nav-bar,
.modes-color-btns{
    justify-content: center;
    align-items: center;
    display: flex;
}

.text-utilite{
    flex-direction: column;
    padding-top: 40px;
    width: 100vw;
}
.dark{
    color:white;
    background-color: black;
}
.dark-text-area{
    background-color: rgb(187, 186, 186);
}
.nav-bar{
    justify-content: right;
    display: flex;
    align-items: right;
    width: 90vw;
    margin: 10px;
    position: relative;
}
button{
    cursor:pointer;
}
.nav-bar button{
    margin: 0 10px;
    padding-left:10px;
    padding-right: 10px;
    height: 30px;
    width: initial;
    border: 0;
    border-radius: 5px;
    font-weight:bold;
    box-sizing:border-box;
    box-shadow: 2px 2px 3px rgb(0,0,0,0.1),
    -2px 2px 3px rgb(0,0,0,0.1),
    2px -2px 3px rgb(0,0,0,0.1),
    -2px -2px 3px rgb(0,0,0,0.1);
}

.modes-color-btns{
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10px;
    height: initial;
    width: 200px;
    border-radius: 10px;
    background-color:skyblue;
    position: absolute;
    box-sizing:border-box;
    box-shadow: 2px 2px 3px rgb(0,0,0,0.1),
    -2px 2px 3px rgb(0,0,0,0.1),
    2px -2px 3px rgb(0,0,0,0.1),
    -2px -2px 3px rgb(0,0,0,0.1);
}   
.modes-color-btns button{
    margin: 10px  10px;
    height: 30px;
    width: 30px;
}
.text-util-sec{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.textArea{
    margin: 10px 0;
    width: 90vw;
    height: 100px;
    font-size: 16px;
    padding: 5px;
    border: 2px solid rgb(0,0,0,0.3);
    border-radius: 5px;
    box-sizing: border-box;
}

.counter{
    justify-content:left;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.counter p{
    margin: 5px 5px;
}

.textBtn{
    margin: 5px;
    height: 40px;
    width: 100px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}
.preview-section{
    margin-top: 30px;
    width: 90vw;

}